# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Database
*.sqlite3

# Environment variables
.env

# Static files collected
staticfiles/

# Media uploads
media/

# OS files
.DS_Store
